@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body,html{
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    height: 100%;
}
.container{
    background:linear-gradient(135deg,#8a2be2,#4169e1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.content{
    text-align: center;
    background-color: rgba(129, 37, 37, 0.9);
    padding: 2rem;
    border-radius: 10px;
    max-width: 500px;
}
.logo {
    width: 150px;
    object-fit:contain;
}
h1{
    color:#000000;
    margin-bottom: 20px;
}
p{
    color:#000000;
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
}
input[type="email"]{
    padding: 10px;
    border:1px solid #a58686;
    border-radius: 4px;
    margin-bottom:6px;
}
button{
    padding:10px;
    background-color: #092c94;
    color:rgb(220, 224, 198);
    border:none;
    border-radius:4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color .3s ease-in-out;
}
button:hover{
    background-color: #0a1f4c;
    box-shadow: 0 8px 6px rgba(0,0,0,0.4);
}

button:active{
    background-color: #0a1f4c;
    transform: scale(.90);
}
svg{
    color: #4169e1;
    
}